<nav class="is-izwi" role="navigation" aria-label="main navigation" id="navbar" style="z-index: 30; top: 0; left: 0; right: 0; position: fixed">
    <div class="container">
        <div class="scrollmenu" id="navbarContainer">
            <div class="columns is-paddingless is-marginless is-full is-mobile">
                <div class="column is-paddingless is-marginless has-text-left is-one-half">
                    <a id="navbarItemHome" class="has-text-white" 
                        href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">
                        <strong>{{site.title}}</strong>
                </a> 
                </div>
                <div class="column is-paddingless is-marginless has-text-right is-one-half">
                    <a id="navbarItemWhat" href="{{site.url}}{{site.baseurl}}/what-we-do">What we do</a>
                    <a id="navbarItemOur" href="{{site.url}}{{site.baseurl}}/our-people">Our people</a>
                    <a id="navbarItemServices" href="{{site.url}}{{site.baseurl}}/services">Services</a>
                    <a id="navbarItemVision" href="{{site.url}}{{site.baseurl}}/vision-mission">Vision/Mission</a>
                    <a id="navbarItemContact" href="{{site.url}}{{site.baseurl}}/contact">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Auto scroll navbar -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        /* Get all "navbar-burger" elements */
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('[id^="navbarItem"]'), 0);
        /* Check if there are any navbar burgers */
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(function ($el) {
                if ($el.href == window.location.href) {
                    $el.classList.toggle('is-active');
                    window.addEventListener('load', goTo ($el.id));
                }
                else if (/services/.test($el.href) && /service/.test(window.location.pathname)) {
                    $el.classList.toggle('is-active');
                    window.addEventListener('load', goTo ($el.id));
                }
            });
        }
        function goTo (id) {
            document.getElementById(id).scrollIntoView({
                behavior: "smooth",
                inline: "center",
            });
        }
    });
</script>