<div class="columns has-text-centered is-paddingless is-marginless is-three-quarters-mobile is-three-quarters-tablet">
    {% for image in include.images %}
        <div class="column">
            <figure 
            {% if image.css %}
                class="image {{image.css}} left: 50%; top: 50%;"
            {% else %}
                class="image is-16by9 position: absolute; left: 50%; top: 50%;"
            {%endif%}
            style="background-image: url({{image.url}}?auto=compress&cs=tinysrgb&w=640&h=360&dpr=1);">
            </figure>
        </div>
    {% endfor %}
</div>

