---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight">
        <div class="hero-body" style="align-items: baseline !important;" >
            <div class="container has-text-left " id="page-section">
                <div class="section">
                    <h1 class="is-size-1 is-uppercase has-text-weight-bold">
                        {{page.title}}
                    </h1>
                    <br>
                    <h1 class="is-size-4 is-uppercase has-text-weight-bold">
                        {{page.subtitle}}
                    </h1>
                    <hr class="has-background-black">
                    <div class="content is-marginless">
                        {{ content }}
                    </div>
                    <div>
                        
                    </div>
                    <div class="columns has-text-left is-one-half">
                        <div class="column">
                            Izwi GenHealth 101 has a lot on offer. Contact us today!
                            <br>
                            <br>
                            <h2 class="has-text-weight-bold">Managing Director</h2>
                            Amanda Mac Donald <br>
                            &emsp;&emsp;&emsp;+27 (0) 76 235 6261 <br>
                            &emsp;&emsp;&emsp;amanda@izwigenhealth.co.za<br>
                            <br>
                            <h2 class="has-text-weight-bold">Personal Assistant</h2>
                            Tayla-Ann Eggleton <br>
                            &emsp;&emsp;&emsp;+27 (0) 67 023 8691 <br>
                            &emsp;&emsp;&emsp;info@izwigenhealth.co.za<br>
                            <br>
                            <div class="container">
                                {% unless site.email == %}
                                <a id="contact-button" href="mailto:{{site.email}}"
                                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-one-half"
                                    target="_blank">
                                    <i class="fas fa-envelope"></i> Send an Email to inquire
                                </a>
                                {% endunless %}
                            </div>
                        </div>
                        <!-- <div class="column is-one-third">

                        </div> -->
                        <div class="column is-one-half" style="margin: 0 0 0 0;">
                            <h2 class="has-text-weight-bold" >Jobs at Izwi GenHealth 101</h2>
                            Here at Izwi GenHealth 101 we are looking for:
                                <li style="margin-left: 2em;"> Nurses</li>
                                <li style="margin-left: 2em;"> Care givers</li>
                                <li style="margin-left: 2em;"> Support Staff</li>
                                <li style="margin-left: 2em;"> Administration staff</li>
                            <br>
                            <br>
                            <br>
                            <br>
                            If you feel like you want to join our company send in your CV and other pertant infomation to us, and we will get back to you.
                            {% unless site.email == %}
                                <a id="contact-button" href="mailto:{{site.email}}"
                                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-one-half"
                                    target="_blank">
                                    <i class="fas fa-envelope"></i> Send in your CV
                                </a>
                            {% endunless %}
                        </div>
                    </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>