---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-left" id="page-section">
                <div class="section">
                    {% if page.webpath %}
                        {% if page.webpath == 'Home' %}
                            <a href="{{site.url}}{{site.baseurl}}/" class="is-link is-black is-size-4">{{ page.webpath }}</a> > 
                        {% else %}
                            <a href="{{site.url}}{{site.baseurl}}/{{ page.webpath | downcase}}" class="is-link is-black is-size-4">{{ page.webpath }}</a> >
                        {% endif %}
                    {% endif %}
                    <h1 class="is-size-1 is-uppercase has-text-weight-bold">
                        {{page.title}}
                    </h1>
                    <br>
                    <h1 class="is-size-4 is-uppercase has-text-weight-bold">
                        {{page.subtitle}}
                    </h1>
                    <hr class="has-background-black">
                    <div class="columns has-text-left is-one-half">
                        <div class="column is-one-third" style="margin: 0 0 0 0;">
                            <figure class="image is-centered is-fullheight">
                                <img src={{ page.image.url }}>
                            </figure>
                            <h1 class="is-size-4 is-uppercase has-text-weight-bold">
                                {{ page.image.title }}
                            </h1>
                            {{ page.image.label }}
                            
                        </div>
                        <div class="column">
                            <div class="content is-marginless">
                                {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>