---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-left" id="page-section">
                <div class="section">  
                    {% if page.webpath %}
                        {% if page.webpath == 'Home' %}
                            <a href="{{site.url}}{{site.baseurl}}/" class="is-link is-black is-size-4">{{ page.webpath }}</a> > 
                        {% else %}
                            <a href="{{site.url}}{{site.baseurl}}/{{ page.webpath | downcase}}" class="is-link is-black is-size-4">{{ page.webpath }}</a> >
                        {% endif %}
                    {% endif %}
                    <h1 class="is-size-1 is-uppercase has-text-weight-bold">
                        {{ page.title }}
                    </h1>
                    <br>
                    <h1 class="is-size-4 is-uppercase has-text-weight-bold">
                        {{ page.subtitle }}
                    </h1>
                    {% if page.reg %}
                    
                        <br>
                        <p class="is-size-7 is-uppercase has-text-weight-bold">
                            {{ page.reg }}
                        </p>
                        <p class="is-size-7 is-uppercase has-text-weight-bold">
                            {{ page.bbeee }}
                        </p>
                    </p>
                    {% endif %}
                    <hr class="has-background-black">
                    <div class="content is-marginless">
                        {{ content }}
                    </div>
                    {% if page.images[0].url %}
                    <br>
                        <div class="columns has-text-centered is-paddingless is-marginless">
                            {% for image in page.images %}
                            <div class="column">
                                <figure class="image is-16by9" style="background-image: url({{image.url}}?auto=compress&cs=tinysrgb&w=640&h=360&dpr=1);">
                                </figure>
                            </div>
                            {% endfor %}
                    {% endif %}
                </div>
                {% if page.contact-us %}
                    <br>
                    <div class="has-text-centered">
                        <a href="{{site.url}}{{site.baseurl}}/contact"
                            class="button is-black is-rounded is-outlined is-uppercase has-text-weight-normal">Contact us for more information</a>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>