---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <p class="is-size-1 is-uppercase has-text-weight-bold has-text-black">
                        Services offered
                    </p>
                    
                    <hr class="has-background-black">

                    <p class="is-size-3 is-uppercase has-text-weight-medium has-text-black">Health Services</p>
                    <br>
                    {% include card-health-service.html %}

                    <p class="is-size-3 is-uppercase has-text-weight-medium has-text-black">Legal Services</p>
                    <br>
                    {% include card-legal-service.html %}
                </div>
            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>